@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: JetBrains-Mono, ui-sans-serif, system-ui;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
